{% extends 'base.html' %}

{% block content %}
    <div class="user-profile">
        <h2>{{ user.username }}</h2>
        {% if user.profile.profile_image %}
            <img src="{{ user.profile.profile_image.url }}" alt="Profile Image">
        {% endif %}
        <p>{{ user.profile.description }}</p>
        {% if user.social_media_links %}
            <h3>Social Media Links</h3>
            <ul>
                {% for link in user.social_media_links %}
                    <li>
                        <a href="{{ link.url }}">{{ link.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="videos">
        <h3>Videos</h3>
        <ul>
            {% for video in videos %}
                <li>
                    <a href="{% url 'video_detail' video.pk %}">{{ video.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}